@import url("../css/reset.css");
body {
  font-family: "Roboto";
  background: rgba(0, 0, 0, 0.0001);
}
.header {
  margin-bottom: 49px;
}
.header__logo {
  font-size: 80px;
  line-height: 1.2;
  color: #000000;
}
.header__title {
  padding-top: 48px;
}

.logo__text {
  color: #4bcaff;
  font-size: 80px;
  line-height: 1.2;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header__menu_list {
  display: flex;
  background: #35444f;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.header__list {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
}

.header__list_item1 {
  padding: 24px 32px 18px;
  border-left: 1px solid #ffffff;
  transition: 0.6s linear;
}
.header__list_item1:hover {
  background: #222f3a;
}
.header__list_item2 {
  padding: 26px 38px 19px;
  border-left: 1px solid #ffffff;
  transition: 0.6s linear;
}
.header__list_item2:hover {
  background: #222f3a;
}
.header__list_item3 {
  padding: 24px 40px 18px;
  border-left: 1px solid #ffffff;
  transition: 0.6s linear;
}
.header__list_item3:hover {
  background: #222f3a;
}
.header__list_item4 {
  padding: 24px 18px 18px 40px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transition: 0.6s linear;
}
.header__list_item4:hover {
  background: #222f3a;
}
.container__body {
  display: flex;
  justify-content: space-between;
}
.sidebar__menu .sidebar__menu_list {
  width: 344px;

  display: flex;
  justify-content: space-between;
  border: 1px solid #000000;
}
.lorem__description {
  max-width: 885px;
}
.lorem__photo {
  padding: 75px 268px 73px 297px;
  border: 1px solid #000000;
}
.sidebar__menu_list {
  display: flex;
  flex-direction: column;
  font-size: 27px;
  line-height: 1;
  color: #485863;
}
.menu__list_item1 {
  padding: 26px 44px 25px;
  transition: 0.6s linear;
}
.menu__list_item1:hover {
  background: #dbdbdb;
  padding: 27px 70px 27px;
}
.menu__list_item2 {
  padding: 27px 44px 27px;
  transition: 0.6s linear;
}
.menu__list_item2:hover {
  background: #dbdbdb;
  padding: 27px 70px 27px;
}
.menu__list_item3 {
  padding: 25px 82px 26px 42px;
  transition: 0.6s linear;
}
.menu__list_item3:hover {
  background: #dbdbdb;
  padding: 27px 54px 27px 70px;
}
.menu__list_item4 {
  padding: 26px 44px 26px;
  transition: 0.6s linear;
}
.menu__list_item4:hover {
  background: #dbdbdb;
  padding: 27px 70px 27px;
}
.menu__list_item5 {
  padding: 26px 44px 30px;
  transition: 0.6s linear;
}
.menu__list_item5:hover {
  background: #dbdbdb;
  padding: 27px 70px 27px;
}
.lorem__text {
  font-size: 18px;
  line-height: 1.3;
  color: #2c2c2c;
}
.lorem__text1 {
  margin-top: 37px;
  width: 793px;
}
.lorem__text2 {
  margin-top: 34px;
  width: 793px;
}
.footer__body {
  background: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 54px;
  margin-bottom: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer__list {
  display: flex;
  width: 936px;
  justify-content: space-between;
  padding: 20px 40px 21px;
}

.footer__list_item {
  font-size: 28px;
  line-height: 1;

  color: #0c1927;
}

.footer__list_item:hover {
  color: #3181a6;
  padding-bottom: 9px;
  border-bottom: 1px solid #3181a6;
}
.footer__copyright {
  font-size: 24px;
  line-height: 1;
  margin-right: 40px;

  color: #010101;
}
